html, body{
    background-color:White;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto ;
   grid-template-rows: auto auto auto auto auto auto;
   row-gap : 10 ;
   column-gap : 10; 
}
.item1{
background-color: #6D9ED9;
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item2{
    background-color:black;
}
.item3{
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item4{
 background-color: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
}
 .item5{
    background-color: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 .item6{
text-align: center;
padding: 10px;
font-size: 20px;
 }
 .item7{
    background-color: #6D9ED9;
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .item10{
     background-color: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 .item11{
     background-color: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 .item13{
    background-color: #6D9ED9;
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .item16{
    background-color: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 .item17{
    background-color: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 h1 {
 color: white;
 text-align: center;
 padding: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 50px;
 
 }
 p {
 color: white;
 text-align: center;
 padding: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 20px;
 }
