html, body{
    background-color:#404D53
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
   grid-template-rows: auto auto auto auto;
   row-gap : 10 ;
   column-gap : 10; 
}
.item1{
background: #6D9ED9;
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item2{
    background: #6D9ED9;
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item3{
    background: #6D9ED9;
text-align: center;
padding: 10px;
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item4{
    background: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
}
 .item5{
    background: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 .item6{
background: #D2E5EE;
text-align: center;
padding: 10px;
font-size: 20px;
 }
 h1 {
 color: white;
 }
